# API Banco Central do Brasil - IPCA

- Importando bibliotecas

In [9]:
import requests
import json
import pandas as pd

## Criando uma função

In [10]:
def consulta(codigo):
    url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo)
    df = pd.read_json(url)
    df['data']  = pd.to_datetime(df['data'], dayfirst = True)
    return df

### Obtendo o código relativo a consulta :
  - Consultandoo link abaixo encontramos o código relativo ao IPCA,que será utilizado na função :
  https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries

In [8]:
df_ipca = consulta(433)

## Visualizando o DataFrame

In [19]:
df_ipca

          data  valor
0   1980-01-01   6.62
1   1980-01-02   4.62
2   1980-01-03   6.04
3   1980-01-04   5.29
4   1980-01-05   5.70
..         ...    ...
485 2020-01-06   0.26
486 2020-01-07   0.36
487 2020-01-08   0.24
488 2020-01-09   0.64
489 2020-01-10   0.86

[490 rows x 2 columns]